[project]
	description = Slides, code, and supplemental materials for the LiveLesson: Working with Big Data: Infrastructure, Algorithms, and Visualizations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt (mattolsen1)
[access "refs/for/refs/*"]
	read = group user/Matt (mattolsen1)
	push = group user/Matt (mattolsen1)
	label-Code-Review = -2..+2 group user/Matt (mattolsen1)
	label-Verified = -1..+1 group user/Matt (mattolsen1)
	rebase = group user/Matt (mattolsen1)
	removeReviewer = group user/Matt (mattolsen1)
	submit = group user/Matt (mattolsen1)
[access "refs/heads/*"]
	read = group user/Matt (mattolsen1)
	create = group user/Matt (mattolsen1)
	push = +force group user/Matt (mattolsen1)
	pushMerge = group user/Matt (mattolsen1)
[access "refs/tags/*"]
	push = +force group user/Matt (mattolsen1)
	pushTag = group user/Matt (mattolsen1)
	pushSignedTag = group user/Matt (mattolsen1)
